// Type

/* 

font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif;
 //font-family: 'Limelight', cursive;

*/

body {
    font-family: 'Roboto', sans-serif;
}
 h2, h3, p, nav a{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Limelight', cursive;


}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}